@import url(../fonts/Days-Regular/Days-Regular.css);
@import url(../fonts/GothamPro-Black/GothamPro-Black.css);
@import url(../fonts/coresanse/coresanse-elr.css);
@import url(../fonts/coresanse/coresanse-mbh.css);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #545e63;
  font-family: 'core_sans_e35_light';
}
html {
  font-size: 18px;
  line-height: 1.11;
}
.container {
  width: 970px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.header {
  height: 900px;
  background: url("../img/header_bg.jpg") top center no-repeat;
}
.header .header-logo {
  top: 38px;
  left: 15px;
  width: 100px;
  height: 100px;
  position: absolute;
  background: url("../img/logo.png") 0 0 no-repeat;
}
.header .header-contact {
  top: 38px;
  right: 15px;
  width: 600px;
  text-align: right;
  position: absolute;
}
.header .header-contact .header-phone {
  color: #858c90;
  font-size: 24px;
  line-height: 40px;
  position: relative;
  margin-right: 25px;
  padding-right: 55px;
  display: inline-block;
  font-family: 'GothamPro-Black';
  background: url("../img/header-phone-arrow.png") right center no-repeat;
}
.header h1 {
  color: #fff;
  font-size: 48px;
  line-height: 70px;
  padding-top: 252px;
  margin-bottom: 15px;
  font-family: 'Days-Regular';
  text-transform: uppercase;
}
.header h1 span {
  display: block;
  padding: 0 12px;
  text-align: center;
  position: relative;
  background: #92d2f8;
}
.header h1 span.h1-first {
  width: 610px;
  font-size: 48px;
  line-height: 70px;
  -webkit-border-radius: 8px 8px 8px 0;
  -moz-border-radius: 8px 8px 8px 0;
  border-radius: 8px 8px 8px 0;
}
.header h1 span.h1-last {
  width: 495px;
  font-size: 36px;
  line-height: 40px;
  position: relative;
  padding-bottom: 5px;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.header .text1 {
  color: #7d7c7c;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-family: 'core_sans_e25_extralight';
}
.header .text2 {
  color: #697378;
  font-size: 48px;
  line-height: 48px;
  font-family: 'GothamPro-Black';
}
.header .text2 span {
  display: block;
  font-size: 24px;
  line-height: 24px;
  font-family: 'core_sans_e35_light';
}
.block01 {
  height: 572px;
  padding-top: 185px;
  background: url("../img/b01_bg.jpg") top center no-repeat;
}
.block01 li {
  float: left;
  width: 185px;
  line-height: 18px;
  text-align: center;
  padding-top: 135px;
}
.block01 li.item1 {
  background: url("../img/b01_item1.png") center top no-repeat;
}
.block01 li.item2 {
  margin-right: 200px;
  background: url("../img/b01_item2.png") center top no-repeat;
}
.block01 li.item3 {
  background: url("../img/b01_item3.png") center top no-repeat;
}
.block01 li.item4 {
  background: url("../img/b01_item4.png") center top no-repeat;
}
.block02 {
  height: 2010px;
  padding: 45px 0;
  background: url("../img/b02_bg.jpg") top center no-repeat;
}
.block02 h2 {
  margin-bottom: 30px;
}
.block02 .detail {
  margin-bottom: 80px;
}
.block02 .detail .detail-image {
  float: left;
  width: 290px;
}
.block02 .detail .detail-text {
  width: 650px;
  float: right;
  line-height: 20px;
}
.block02 .detail .detail-text strong {
  text-transform: uppercase;
}
.block02 .detail .detail-text li {
  width: 50%;
  float: left;
  height: 76px;
  display: table;
  line-height: 18px;
  padding-left: 95px;
  margin-bottom: 20px;
}
.block02 .detail .detail-text li span {
  display: table-cell;
  vertical-align: middle;
}
.block02 .detail .detail-text li.item1 {
  background: url("../img/icon-vent.png") left center no-repeat;
}
.block02 .detail .detail-text li.item2 {
  background: url("../img/icon-hygiene.png") left center no-repeat;
}
.block02 .detail .detail-text li.item3 {
  background: url("../img/icon-elastic.png") left center no-repeat;
}
.block02 .detail .detail-text li.item4 {
  background: url("../img/icon-allergy.png") left center no-repeat;
}
.block02 .detail .detail-text li.item5 {
  background: url("../img/icon-ecology.png") left center no-repeat;
}
.block02 .detail .detail-text li.item6 {
  background: url("../img/icon-child.png") left center no-repeat;
}
.block02 .detail .detail-text li.item7 {
  background: url("../img/icon-wather.png") left center no-repeat;
}
.block02 .detail .detail-text li.item8 {
  background: url("../img/icon-speed.png") left center no-repeat;
}
.block02 .detail .detail-text li.item9 {
  background: url("../img/icon-warm.png") left center no-repeat;
}
.block02 .detail .detail-text li.item10 {
  background: url("../img/icon-spine.png") left center no-repeat;
}
.block02 .detail .detail-text li.item11 {
  background: url("../img/icon-breath.png") left center no-repeat;
}
.block02 .detail.detail-right .detail-image {
  float: right;
  text-align: right;
}
.block02 .detail.detail-right .detail-text {
  float: left;
}
.block03 {
  height: 495px;
  padding: 45px 0;
  background: url("../img/b03_bg.jpg") top center no-repeat;
}
.block03 h2 {
  margin-bottom: 140px;
}
.block03 p {
  font-size: 24px;
  line-height: 24px;
  margin-left: 445px;
  font-family: 'core_sans_e45_regular';
}
.block04 {
  color: #fff;
  height: 909px;
  padding: 45px 0;
  background: url("../img/b04_bg.jpg") top center no-repeat;
}
.block04 h2 {
  margin-bottom: 80px;
}
.block04 ul {
  padding-bottom: 40px;
}
.block04 li {
  float: left;
  width: 390px;
  height: 100px;
  display: table;
  font-size: 20px;
  line-height: 20px;
  padding-left: 125px;
  margin-bottom: 42px;
  font-family: 'core_sans_e45_regular';
}
.block04 li.item1 {
  background: url("../img/b04_item1.png") left center no-repeat;
}
.block04 li.item2 {
  margin-left: 70px;
  background: url("../img/b04_item2.png") left center no-repeat;
}
.block04 li.item3 {
  margin-left: 50px;
  background: url("../img/b04_item3.png") left center no-repeat;
}
.block04 li.item4 {
  width: 410px;
  margin-left: 70px;
  background: url("../img/b04_item4.png") left center no-repeat;
}
.block04 li.item5 {
  width: 420px;
  margin-left: 100px;
  background: url("../img/b04_item5.png") left center no-repeat;
}
.block04 li.item6 {
  width: 360px;
  margin-left: 40px;
  background: url("../img/b04_item6.png") left center no-repeat;
}
.block04 li.item7 {
  margin-left: 150px;
  background: url("../img/b04_item7.png") left center no-repeat;
}
.block04 li span {
  display: table-cell;
  vertical-align: middle;
}
.block05 {
  padding: 40px 0;
  min-height: 4145px;
  background: url("../img/b05_bg.jpg") bottom center no-repeat;
}
.block05 h2 {
  margin-bottom: 30px;
}
.block05 .text {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding-top: 50px;
  font-family: 'core_sans_e45_regular';
}
.block05 h3 {
  color: #494949;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase {
  background: #fff;
  margin: 0 -15px 25px -15px;
  padding: 50px 15px 40px 15px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.block05 .showcase .showcase-left {
  float: left;
  width: 380px;
}
.block05 .showcase .showcase-right {
  float: right;
  width: 525px;
}
.block05 .showcase .showcase-img {
  width: 380px;
  position: relative;
  margin-bottom: 20px;
}
.block05 .showcase .showcase-img .male-img {
  display: block;
}
.block05 .showcase .showcase-img .female-img {
  display: none;
}
.block05 .showcase .showcase-img .showcase-present {
  top: 0;
  left: 100px;
  width: 125px;
  height: 125px;
  position: absolute;
  background: url("../img/icon-present.png") 0 0 no-repeat;
}
.block05 .showcase .gender-title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .gender {
  margin-left: 40px;
  text-align: center;
}
.block05 .showcase .gender label {
  color: #707577;
  width: 120px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  padding-top: 80px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  font-family: 'core_sans_e25_extralight';
}
.block05 .showcase .gender label:before {
  top: 0;
  left: 50%;
  opacity: .5;
  content: "";
  width: 65px;
  height: 65px;
  margin-left: -32px;
  position: absolute;
  display: inline-block;
}
.block05 .showcase .gender label.radio-male:before {
  background: url("../img/icon-male.png") 0 0 no-repeat;
}
.block05 .showcase .gender label.radio-female:before {
  background: url("../img/icon-female.png") 0 0 no-repeat;
}
.block05 .showcase .gender input[type=radio] {
  display: none;
}
.block05 .showcase .gender input[type=radio]:checked + label:before {
  opacity: 1;
}
.block05 .showcase .gender input[type=radio]:checked + label.radio-male {
  color: #69c0f4;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .gender input[type=radio]:checked + label.radio-female {
  color: #f88dc6;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .showcase-title {
  color: #545e63;
  margin-bottom: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #dddfe0;
}
.block05 .showcase .showcase-title .left-col {
  float: left;
  width: 300px;
}
.block05 .showcase .showcase-title .left-col h4 {
  font-size: 24px;
  line-height: 24px;
  font-family: 'core_sans_e85_heavy';
}
.block05 .showcase .showcase-title .left-col p {
  font-size: 18px;
  line-height: 22px;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .showcase-title .left-col p span {
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .showcase-title .right-col {
  float: right;
  width: 200px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'core_sans_e85_heavy';
}
.block05 .showcase .showcase-title .right-col span {
  display: block;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .showcase-material .material-title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: 'core_sans_e85_heavy';
  text-transform: uppercase;
}
.block05 .showcase .showcase-material ul {
  padding-bottom: 15px;
}
.block05 .showcase .showcase-material li {
  float: left;
  width: 50%;
  height: 60px;
  display: table;
  padding-left: 85px;
  margin-bottom: 10px;
  position: relative;
}
.block05 .showcase .showcase-material li span {
  height: 60px;
  font-size: 18px;
  line-height: 18px;
  display: table-cell;
  vertical-align: middle;
}
.block05 .showcase .showcase-material li .material-img {
  left: 0;
  top: 0;
  display: block;
  position: absolute;
}
.block05 .showcase .showcase-description {
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  margin-bottom: 10px;
  font-family: 'core_sans_e25_extralight';
  border-top: 1px solid #dddfe0;
  border-bottom: 1px solid #dddfe0;
}
.block05 .showcase .price {
  float: left;
  width: 215px;
  font-size: 30px;
  line-height: 60px;
  font-family: 'core_sans_e85_heavy';
}
.block05 .showcase .price span {
  font-size: 18px;
  font-family: 'core_sans_e65_bold';
}
.block05 .showcase .btn-order {
  width: 306px;
  float: left;
}
.block05 .showcase.showcase-female .showcase-img .showcase-present {
  background-position: 0 -125px;
}
.block05 .showcase.showcase-female .showcase-img .male-img {
  display: none;
}
.block05 .showcase.showcase-female .showcase-img .female-img {
  display: block;
}
.block05 .showcase.showcase-female .btn-order {
  background: #f88dc6;
}
.block05 .showcase.showcase-female .btn-order:hover {
  background: #d25296;
}
.block06 {
  padding: 45px 0;
  background: #eff6f8;
}
.block06 h2 {
  margin-bottom: 60px;
}
.block06 .reply li {
  margin-bottom: 75px;
}
.block06 .reply li .reply-img {
  float: left;
  width: 285px;
}
.block06 .reply li .reply-text {
  float: right;
  width: 655px;
  line-height: 24px;
}
.block06 .reply li.reply-right .reply-img {
  float: right;
  text-align: right;
}
.block06 .reply li.reply-right .reply-text {
  float: left;
}
.block06 .reply li p {
  margin-bottom: 0;
}
.block06 .reply li .reply-author {
  font-style: italic;
  padding-top: 25px;
  display: inline-block;
}
.block06 .reply-more {
  color: #6aa3c5;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}
.block06 .reply-more:hover {
  text-decoration: none;
}
.block06 .reply-hidden {
  display: none;
}
.block07 {
  color: #fff;
  height: 537px;
  padding: 45px 0;
  background: url("../img/b07_bg.jpg") top center no-repeat;
}
.block07 h2 {
  margin-bottom: 55px;
}
.block07 ul {
  margin-bottom: 55px;
}
.block07 li {
  float: left;
  width: 188px;
  line-height: 18px;
  text-align: center;
}
.block07 li .icon {
  color: #fff;
  width: 110px;
  height: 110px;
  display: block;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  background: #92d2f8;
  border: 10px solid #fff;
  margin: 0 auto 25px auto;
  font-family: 'core_sans_e85_heavy';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.block07 li .text {
  display: block;
  text-align: center;
  font-family: 'core_sans_e45_regular';
}
.block07 .text-warning {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-family: 'core_sans_e65_bold';
}
.block08 {
  height: 500px;
  color: #494949;
  padding-top: 72px;
  background: url("../img/b08_bg.jpg") top center no-repeat;
}
.block08 h2 {
  font-size: 48px;
  text-align: left;
  line-height: 48px;
  margin-bottom: 20px;
  text-transform: none;
  font-family: 'core_sans_e65_bold';
}
.block08 .content {
  float: left;
  width: 400px;
  font-size: 24px;
  line-height: 24px;
  font-family: 'core_sans_e45_regular';
}
.block08 .form-block {
  float: right;
}
.footer {
  height: 255px;
  background: #fff;
  padding-top: 30px;
}
.footer .footer-left {
  float: left;
  width: 570px;
}
.footer .footer-text {
  color: #494949;
  font-size: 29px;
  line-height: 30px;
  margin-bottom: 22px;
  font-family: 'core_sans_e45_regular';
}
.footer .footer-text span {
  font-size: 43px;
  line-height: 45px;
  display: block;
  font-family: 'core_sans_e85_heavy';
  text-transform: uppercase;
}
.footer .dev {
  width: 162px;
  height: 70px;
  cursor: pointer;
  display: block;
  background: url("../img/dev_logo.png") 0 0 no-repeat;
}
.footer .footer-contact {
  float: left;
  width: 360px;
}
.footer .footer-contact li {
  color: #494949;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}
.footer .footer-contact li:first-child {
  font-size: 24px;
  font-family: 'core_sans_e85_heavy';
}
.footer .footer-contact li:last-child {
  padding-top: 10px;
}
/* Button & Form */
.btn {
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-family: 'GothamPro-Black';
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn:active {
  top: 1px;
}
.btn:hover:before {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: " ";
  position: absolute;
  border: 1px solid #fff;
  background: transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.btn.btn-callback {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  background: #f5b5d7;
}
.btn.btn-callback:hover {
  background: #f37dbc;
}
.btn.btn-blue {
  font-size: 24px;
  line-height: 40px;
  padding: 10px 28px;
  background: #92d2f8;
  text-transform: uppercase;
}
.btn.btn-blue:hover {
  background: #3ea2de;
}
.btn.btn-purple {
  font-size: 24px;
  line-height: 40px;
  padding: 10px 28px;
  background: #f88dc6;
  text-transform: uppercase;
}
.btn.btn-purple:hover {
  background: #d25296;
}
.btn.btn-order {
  font-size: 24px;
  line-height: 40px;
  padding: 10px;
  background: #92d2f8;
  text-transform: uppercase;
}
.btn.btn-order:hover {
  background: #3ea2de;
}
.form-block {
  width: 370px;
  background: #fff;
  text-align: center;
  padding: 35px 40px 40px 40px;
}
.form-block .form-title {
  color: #494949;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 38px;
  font-family: 'core_sans_e65_bold';
}
.cform ol {
  margin: 0;
  list-style: none;
  padding: 0 0 5px 0;
}
.cform li {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.cform label {
  display: none;
}
.cform input[type="text"] {
  margin: 0;
  width: 100%;
  padding: 15px;
  outline: none;
  display: block;
  color: #494949;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  background: #fdfef5;
  font-family: 'core_sans_e35_light';
  border: 1px solid #e8ead9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cform input[type="text"]:focus {
  border-color: #c8cab7;
}
.cform p {
  margin-bottom: 3px;
  text-align: center;
}
.cform .sendbutton {
  margin: 0;
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding: 10px 28px;
  background: #f5b5d7;
  text-decoration: none;
  display: inline-block;
  font-family: 'GothamPro-Black';
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cform .sendbutton:hover {
  background: #f291c5;
}
.cform .sendbutton:active {
  top: 1px;
  position: relative;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h2 {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-family: 'core_sans_e35_light';
  text-transform: uppercase;
}
h2 span {
  display: block;
  font-size: 30px;
}
p {
  padding: 0;
  margin: 0 0 20px 0;
}
a {
  color: #3ca1dc;
  text-decoration: underline;
}
strong {
  font-weight: normal;
  font-family: 'core_sans_e65_bold';
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-right {
  text-align: center;
}
